h1, .let {
    color:  darkred;
}

.all {
    width: 1200px;
    margin: auto;
}

.button {
    width: 150px;
    height: 25px;
    background-color: darkblue;
    color: gold;
    font-weight: 900;
}

.ya {
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 25px;
}

.image {
    border-radius: 400px;
}